<div class="container">
  <div class="row">
    <div class="col-lg-12">
		<h2 class="title">マイページ</h2>
			<div>
				<table>
					<tbody>
						<tr>
							<td>登録情報</td>
							<td><%= link_to  "編集する", edit_customer_path %></td>
							<td><%= link_to "パスワードを変更する", new_customer_password_path %></td>
						</tr>
					</tbody>
				</table>
			<main>
				<table>
					<thead>
						<tr>
							<th>氏名<%= current_customer.last_name %></th>
							<th>カナ<%= current_customer.last_name_kana %></th>
							<th>郵便番号<%= current_customer.zipcode %></th>
							<th>住所<%= current_customer.address %></th>
							<th>電話番号<%= current_customer.tel%></th>
							<th>メールアドレス<%= current_customer.email %></th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>data</td>
							<td>data</td>
							<td>data</td>
							<td>data</td>
							<td>data</td>
							<td>data</td>
						</tr>
					</tbody>
				</table>
			</main>



				<table>
					<thead>
						<tr>
							<th>配送先</th>
							<th>注文一覧</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td><%= link_to "一覧を見る", edit_address_path %></td>
							<td><%= link_to "一覧を見る", orders_path %></td>
						</tr>
					</tbody>
				</table>
			</div>


