<h1>注文情報確認</h1>
<div>
	<table>
		<thead>
			<tr>
				<th>商品名</th>
				<th>単価（税込）</th>
				<th>数量</th>
				<th>小計</th>
			</tr>
		</thead>
		<tbody>
				<% @cart_items.each do |cart_item| %>
					<tr>
						<td><%= attachment_image_tag cart_item.product, :image, format: 'jpeg', size: "100x80"%>　<%= cart_item.product.name %></td>
						<td><%= (cart_item.product.price * @Tax).to_i.to_s(:delimited)  %></td>
						<td><%= cart_item.quantity %></td>
						<td><%= ((cart_item.product.price * cart_item.quantity) * 1.1).to_i.to_s(:delimited) %></td>
					</tr>
				<% end %>
		</tbody>
	</table>
</div>
<div>
	<table>
		<thead>
			<tr>
				<th>送料</th>
				<td><%= @Fee.to_s(:delimited) %>円</td>
				<th>商品合計</th>
				<td><%= (@total_item_price * @Tax).to_i.to_s(:delimited) %></td>
				<th>請求金額</th>
				<td><%= session[:order]["total_price"].to_i.to_s(:delimited) %></td>
			</tr>
		</thead>
	</table>
</div>

<div>
	<div>支払い方法</div>
	<div>クレジットカード</div>
</div>

<div>
	<div>お届け先</div>
	<div>xxx xxx   xxxxx<br>山田花子</div>
</div>

<%= link_to "購入を確定する", orders_thanks_path %>