<div class = "container">

    <div class = "row">

        <div class = "admins_products_index_main">
        	<h3>商品一覧</h3>
        	    <%= link_to " ", new_admins_product_path, class: "glyphicon glyphicon-plus-sign" %>
	        	<table class = "table">
	        	    <thead>
	        	    	<tr>
	        	    		<th>商品ID</th>
	        	    		<th>商品名</th>
	        	    		<th>税抜価格</th>
	        	    		<th>ジャンル</th>
	        	    		<th>ステータス</th>
	        	    	</tr>
	        	    </thead>
	        	    <tbody>
	        	    	<% @products.each do |product| %>
	        	    	<tr>
	        	    		<td>
	        	    			<%= product.id %>
	        	    		</td>
	        	    		<td>
	        	    			<%= link_to product.name, admins_product_path(product.id) %>
	        	    		</td>
	        	    		<td>
	        	    			<%= product.price %>
	        	    		</td>
	        	    		<td>
	        	    			<%= @product.genre.genre_name %>
	        	    		</td>
	        	    		<td>
	        	    			<%= product.status %>
	        	    		</td>

	        	    	</tr>
	        	    	<% end %>
	        	    </tbody>
	        	</table>
	    </div>
	</div>
</div>
