<div class = "row">
<h3>商品詳細</h3>

  <div class="col-md-4 admins_product_show_image">
    <%= attachment_image_tag @product, :image, size: "300x300", format: 'jpeg', fallback: "no-data.jpg", size: "300x300" %>
  </div>

  <div class="col-md-8 admins_product_show_information">

    <h5>商品名</h5>
      <%= @product.name %>
    <h5>商品説明</h5>
      <%= @product.introduction %>
    <h5>ジャンル</h5>
      <%= @product.genre.genre_name %>
    <h5>税込価格 (税抜価格)</h5>
      <%= @product.tax_price.to_s(:delimited) %>(<%= (@product.price).to_s(:delimited) %>) 円
    <h5>販売ステータス</h5>
      <% if @product.status? %>
        販売中
      <% else %>
        売切れ
      <% end %>
    <div>
      <%= link_to "編集", edit_admins_product_path, class: "btn btn-primary" %>
    </div>
  </div>

</div>