<div class="row">
	<div class="col-md-2 genre-form">
	<%= render 'products/genres-search', genres: @genres %>
	</div>
	
	<div class="col-md-10">
			<div class="row">
			  	<% if params[:genre_id] %>
			  		<h3><%= @genre.genre_name %><%= @products.count %>件</h3>
			  	<% else %>
			    	<h3>商品一覧全<%= @products.count %>件</h3>
			    <% end %>
	    	</div>
	 		<% @products.each do |product| %>

		    <tr>
		    	<div class="col-md-3">
		      <td>
		      	<%= link_to product_path(product) do %>
		      	<%= attachment_image_tag product, :image, :fill, 100, 100, fallback: "no-data.jpg", size:"100x100" %><br>
		        <%= product.name %>
		        <% end %>
			  </td><br>
		      <td><%= product.price %>円(+税)</td>
		      	</div>
			</tr>
		  	<% end %>
    </div>
</div>

