<!DOCTYPE html>
<html>
  <head>
    <title>NaganoCake</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>



  <body class="header">
    <header class="navbar navbar-fixed-top">
      <div class="container">
      <!-- adminログイン後ヘッダー -->
      <% if admin_signed_in? %>
        <nav class="nav navbar-left">
          <div class="title">
            <%= link_to "ながのCAKE管理者用", admins_root_path %>
          </div>
        </nav>
        <nav>
          <ul class="nav navbar-nav navbar-right">
            <li class="nav-item">
              <%= link_to "商品一覧", admins_products_path %>
            </li>
            <li class="nav-item">
              <%= link_to "会員一覧", admins_customers_path %>
            </li>
            <li class="nav-item">
              <%= link_to "全顧客_注文履歴一覧", admins_order_items_path %>
            </li>
            <li class="nav-item">
              <%= link_to "ジャンル一覧", admins_genres_path %>
            </li>
            <li class="nav-item">
              <%= link_to "ログアウト", destroy_admin_session_path, method: :delete %>
            </li>
          </ul>
        </nav>

      <!-- カスタマーログイン後 -->
      <% elsif customer_signed_in? %>
        <nav class="nav navbar-left">
          <div class="title">
            <%= link_to "ながのCAKE", root_path %>
          </div>
        </nav>
        <nav>
          <ul class="nav navbar-nav navbar-right">
          <li class="nav-comment">ようこそ！！
           <%= current_customer.last_name.to_s + " " +current_customer.first_name.to_s %>さん！
          </li>
            <li class="nav-item">
              <%= link_to "マイページ", customer_path(current_customer) %>
            </li>
            <li class="nav-item">
              <%= link_to "商品一覧", products_path %>
            </li>
            <li class="nav-item">
              <%= link_to "カート", cart_items_path %>
            </li>
            <li class="nav-item">
              <%= link_to "ログアウト", destroy_customer_session_path, method: :delete %>
            </li>
          </ul>
        </nav>

      <% else %>

         <!-- adminログイン前ヘッダー ＝ カスタマーログイン前 -->
        <nav class="nav navbar-left">
          <div class="title">
            <%= link_to "ながのCAKE", root_path %>
          </div>
        </nav>
        <nav>
          <ul class="nav navbar-nav navbar-right">

            <li class="nav-comment">
              ようこそ！ゆっくり見ていって頂戴
            </li>
            <li class="nav-item">
              <%= link_to "about", products_about_path %>
            </li>
            <li class="nav-item">
              <%= link_to "商品一覧", products_path %>
            </li>
            <li class="nav-item">
              <%= link_to "新規登録", new_customer_registration_path %>
            </li>
            <li class="nav-item">
              <%= link_to "ログイン", new_customer_session_path %>
            </li>
          </ul>
        </nav>

      <% end %>

      </div>

    </header>




    <main>
    <%= yield %>
    </main>

    <!-- フッター -->
    <footer>
      <p class="text-right">©ホワイト企業なGUNDAMチーム</p>
    </footer>
  </body>
</html>
